*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: lato;
}
a{
    text-decoration: none;
    color: unset;
}
body{
    max-width: 1440px;
}
header{
    height: 50px;
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
.nav-bar{
    display: flex;
    gap: 50px;
}
.nav-list a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-list a:hover{
    color: yellow;
    border-bottom: 2px solid yellow;
}
h1{
    font-size: 2rem;
}
p{
    font-weight: bold;
}
img{
    width: 400px;
    height: 300px;
}
.get-started-container, .our-gallery-container, .pricing-container{
    height: 600px;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.get-started-div{
    width: 35%;
    height: 100%;
    padding: 0 5%;
    margin-top: 200px;

}
.our-gallery-div, .pricing-div{
    width: 35%;
    height: 100%;
    padding: 0 5%;
}
.getting-started-text, .our-gallery-text, .pricing-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.getting-started-text button, .our-gallery-text button, .pricing-text button{
    width: 150px;
    height: 50px;
    background-color: black;
    color: yellow;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.getting-started-text button:hover, .our-gallery-text button:hover, .pricing-text button:hover{
    background-color: rgb(36, 36, 36);
}
.newsletter-signup{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(36, 36, 36);
    color: yellow;
}
.signup-details{
    background-color: white;
    display: flex;
    gap: 10px;
    color: black;
    padding: 5px;
    border-radius: 3px;
}
.signup-details input{
    height: 25px;
    width: 200px;
    border: 1px solid silver;
    border-radius: 3px;
}
.signup-details button{
    height: 25px;
    width: 70px;
    background-color: black;
    color: yellow;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
.signup-details button:hover{
    background-color: rgb(36, 36, 36);
}
.social-media-handles-services{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 10px 50px;
    background-color: black;
    color: white
}
.products-services-container{
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    text-align: center;
}
.products-services-container h3:hover, h6:hover{
    color: yellow;
}
.copyright{
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: bisque;
}
@media screen and (max-width: 1000px) {
    img{
        width: 300px;
        height: 200px;
    }
    header{
        display: flex;
        gap: 10px;
    }
    .nav-bar{
        display: flex;
        gap: 10px;
    }
    header h1, li{
        font-size: 1rem;
    }
    p{
        font-weight: lighter;
    }
    h1{
        font-size: 1.2rem;
    }
    .get-started-container, .our-gallery-container, .pricing-container{
        height: 550px;
    }
    .get-started-div, .our-gallery-div, .pricing-div{
        width: 45%;
        height: 100%;
    }
    
}
@media screen and (max-width: 768px) {
    .signup-p-tag{
        font-weight: lighter;
        font-size: 0.7rem;
    }
    .products-services-container{
        gap: 20px;
    }
}
@media screen and (max-width: 768px){
    header{
        display: flex;
        padding: 5px;
        gap: 5px;
    }
    .nav-bar{
        display: flex;
        gap: 10px;
    
    }
    header h1, li{
        font-size: 0.8rem;
    }
    .get-started-container, .our-gallery-container, .pricing-container{
        display: flex;
        flex-direction: column-reverse;
        margin: unset;
    }
    .get-started-div, .our-gallery-div, .pricing-div{
        width: 60%;
        gap: 5px;
        margin: 0 auto;
        padding: 0 5%;
    }
    .newsletter-hide{
        visibility: hidden;
    }
    .social-media-handles-services{
        padding: 10px;
    }
    .logo-social-media h1{
        font-size: 1rem;
    }
}